.web_header{padding: 0px 55px;background: rgb(184, 192, 206);position: sticky;top:0;z-index: 999;
    .header_flex{display: flex;justify-content:space-between;align-items: center;height: 65px;
        .logo{height: 55px;width: 100px;padding-left: 8px;}
        .header_menu{
            .menus{display: flex;justify-content:space-between;align-items: center;
                .menu_list{position: relative;
                    a{padding: 0 20px;color:rgb(14, 12, 27);transition: 0.3s ease;
                        &.active{color: rgb(15, 8, 46);
                            &::after{content:"";position: absolute;width: 30%;height: 2px;background: rgb(15, 8, 46);top: 18px;left: 20px;}
                        }
                        &:hover{color: rgb(15, 8, 46);}
                }
                }
            }
        }
    }
}

.mob_header{background: chartreuse;
    .mob_header_flex{display: flex;justify-content: space-between;align-items: center;padding:0 15px;
        .mob_logo{width: 100px;height: 55px;
            .hambergurOpen{display: block;font-size: 20px;cursor: pointer;background-color: #111;color: white;padding: 10px 15px;border: none;}
        }
        .mob_menu{display: flex;justify-content: space-around;align-items: center;
            .mob_header_search{padding: 5px 10px;}
            .mob_header_cart{padding: 5px 10px;}

        }
    }

}

.hambergur_menu{position: absolute;top: 0;background: aliceblue;width: 250px;height: 100%;z-index: 99;cursor: pointer;
    .hambergurClose{position: absolute;right: 10px;top: 10px;border: none;color: black;}
    .mob_side_menus{padding:0;
        .mob_logo{padding: 16px 10px;height: 60px;width: 80px;margin: auto;}
        .menu_list{padding: 12px 10px 10px 30px;border-bottom:1px solid rgba(0,0,0,0.3);
            &:hover{background: rgba(0,0,0,0.3);}
            &:active{border-left: 3px solid black;}
        }
    }
}
body{
    .bg{overflow: hidden !important;background-color: rgba(0,0,0,0.3)}
}