<div class="a"  style="background-color: aqua;margin: 0;padding: 0;">
    <div class="b" style="padding: 0 30px;">
        <div class="c" style="font-size: 18px;display: flex;align-items: center;">
            <div class="logo" style="width: 85px;height: 40px;margin: 10px 0;background: blue;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiQL7-Ghj-Sc1NVslbdCATU8cc5WrtGSfpNA&usqp=CAU" style="margin-right: 20px;" alt=""></div>
            <div class="menu" style="">
                <!-- <ul style="">
                    <li style="float: left;list-style: none;padding: 16px 12px;"><a style="text-decoration: none;" href="#">home</a></li>
                    <li style="float: left;list-style: none;padding: 16px 12px;"><a style="text-decoration: none;" href="#">home</a></li>
                    <li style="float: left;list-style: none;padding: 16px 12px;"><a style="text-decoration: none;" href="#">home</a></li>
                    <li style="float: left;list-style: none;padding: 16px 12px;"><a style="text-decoration: none;" href="#">home</a></li>
                    <li style="float: left;list-style: none;padding: 16px 12px;"><a style="text-decoration: none;" href="#">home</a></li>

                </ul> -->
            </div>

        <div class="hrader_right" style="width: auto;float: right;text-align: right;display: flex;margin-left: auto;align-items: center;font-size: 15px;">
            
            <div class="signup_btn" style="margin:0 12px">
                <a href="#" style="padding: 14px 20px;background: orange;">SignUp</a>
            </div>
            <!-- <h3 style="width: auto;margin:0 12px">Aout Us</h3>
            <div class="whatsup" style="width: 55px;background: chocolate;height: 35px;margin:0 12px">
                <img src="" alt="">
            </div> -->
        </div>
        </div>
    </div>
</div>