.footer{ width: 100%; padding: 20px; background-color: black; display: flex;
    .footer_left{  background-color: rgb(97, 78, 78); width: 60%; 
        .title{
            color: #fff;
        }
    }
    .footer_right{width: 37%;}
} 