<div class="signin_body" style="width: 100%;margin: 0 auto;">
    <div class="signin_bg" style="background-image: url(https://img.freepik.com/free-photo/shop-clothing-clothes-shop-hanger-modern-shop-boutique_1150-8886.jpg?w=2000);background-size: cover;">
        <div class="signin_block" style="padding: 50px;margin: 0 auto;display: flex;justify-content: center;align-items: center;background: rgba(0, 0, 0, 0.35);">
            <div class="signin_inner" style="height: calc(100vh - 100px);width: 500px;background: chocolate;">
                <div class="signin_left" style="background: rosybrown;padding: 10px;">
                    <div class="txt">
                        sdfghjkl;
                    </div>
                    <form action="">
                        <label for="email">Email
                            <input type="text" placeholder="Email" >
                        </label>
                    </form>
                </div>
        </div>
    </div>
</div>

