<div class="card_section" >
    <div class="cars_head">
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
        <div class="card_inner">
            <img src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >product title head</h5>
                <div class="star" >star</div>
                <h4 >Rs:300</h4>
            </div>
            <a href="#"><img class="cart"  src="https://m.media-amazon.com/images/I/51ggvKM2unL.jpg" alt=""></a>
        </div>
    </div>
</div>