<div class="card_section" >
    <div class="cars_head">
        <div class="card_inner" (click)="detailsPage()" *ngFor="let data of product_data">
            <img src="https://i.ibb.co/PmMD4xK/03.png" alt="">
            <div class="desc" >
                <span >adidas</span>
                <h5 class="title" >{{data.title}}</h5>
                <div class="star" >{{data.star}}</div>
                <h4 >{{data.price}}</h4> 
                <h4 >{{data.MRP}}</h4> 

            </div>
            <a href="#"><img class="cart"  src="https://i.ibb.co/WxQ83wn/01.png" alt=""></a>
        </div>
    </div>
</div>