<div class="card_section" >
    <div class="cars_head">
        <div class="card_inner"  *ngFor="let data of product_data">
            <div (click)="detailsPage(data.ID)">
                <img src="../../assets/{{data.ID}}/{{data.image_data[0]}}" alt="">
            <div class="desc" >
                <span >{{data.cloth}}</span>
                <h5 class="title" >{{data.title}}</h5>
                <div class="star" >{{data.star}}</div>
                <h4 >{{data.price}}</h4> 
                <h4 >{{data.MRP}}</h4> 

            </div>
            </div>
            <!-- <div (click)="addtocart(data)"><img class="cart"  src="https://i.ibb.co/WxQ83wn/01.png" alt=""></div> -->
        </div>
    </div>
</div>