<div class="banner_container">
    <div class="banner_gradient">
        <div class="banner" style="display:flex">
            <img id="banner0" style="width: 100%;" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-3gxjp146vo2.jpeg" alt="img">
            <img id="banner1" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-4au02ah1o42.jpeg" alt="">
            <img id="banner2" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-g27d6le5zw6.jpeg" alt="">
            <img id="banner3" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-3gxjp146vo2.jpeg" alt="img">
            <img id="banner4" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-4au02ah1o42.jpeg" alt="">
            <img id="banner5" src="https://d229kpbsb5jevy.cloudfront.net/aastha/content/banner/common/page/banners/banners-banner-g27d6le5zw6.jpeg" alt="">
        </div>
    </div>
</div>