<div class="details_page">
    <div class="details_block">
        <div class="details_inner">

            <div class="details_left">
                <div class="details_main_image">
                    <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                </div>
                <div class="details_sub_images">
                    <div class="subImage_block">
                        <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                    </div>
                    <div class="subImage_block">
                        <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                    </div>
                    <div class="subImage_block">
                        <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                    </div>
                    <div class="subImage_block">
                        <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                    </div>
                    <div class="subImage_block">
                        <img src="https://m.media-amazon.com/images/I/71pMbvSqmfL._UY741_.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="details_right">
                <h1>wertyuiop</h1>
                <h1>wertyuiop</h1>
                <h1>wertyuiop</h1>
                <h1>wertyuiop</h1>
                <h1>wertyuiop</h1>
                <h1>wertyuiop</h1>

            </div>
        </div>
    </div>
</div>